.topCard {
   display: flex;
   justify-content: center;
   margin-left: 10%;
   margin-top: 5%;
   border-radius: 1%;
   box-shadow: 10px 5px 5px lightgrey;
   margin-bottom: 5%;
   
}

.buttonBlog {
   background-color: #CC5200;
   margin-top: 10%;
   color: white !important;
}

.blog{
   padding-bottom: 6px;
   border-bottom: 3px solid rgb(17, 171, 176);
   margin-right: 90%;
   padding-bottom: 6px;
   margin-right: 90%;
   font-family: 'opensans-bold';
   font-size: 20px;
}

.cardContainer:hover{
   background-color: grey;
   opacity: 70%;
   cursor: pointer;
   color: black !important;
 
}