.twelve{
    display: flex;
    justify-content: center;
    align-items: center;   
}

#portfolio {
    align-items: center !important;
    display: flex;
    flex-direction: center !important;
    padding-left: 20%;
    padding-right: 15%;
    
}

.mywork{
    padding-bottom: 6px;
    border-bottom: 3px solid rgb(17, 171, 176);
    margin-right: 90%;
    font-family: 'opensans-bold';
    font-size: 20px;
    }


.img {
    width: 900px;
    height: 200px;
}